<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Names the annotated entity class -->

		<mapping class="com.testing.hibernate.Event" />
		<mapping class="com.testing.hibernate.User" />
		<mapping class="com.testing.hibernate.UserWithMultipleAddress" />

		<!-- One to One -->
		<mapping class="com.testing.onetoone.UserDetail" />
		<mapping class="com.testing.onetoone.Vehicle" />

		<!-- One to Many -->
		<mapping class="com.testing.onetomany.UserOneToMany" />
		<mapping class="com.testing.onetomany.VehicleOneToMany" />
		<mapping class="com.testing.onetomany.AddressOneToMany" />

		<!-- Many to Many -->
		<mapping class="com.testing.manytomany.UserManyToMany" />
		<mapping class="com.testing.manytomany.VehicleManyToMany" />
		<mapping class="com.testing.onetomany.AddressOneToMany" />

		<!-- Cascade -->
		<mapping class="com.testing.cascade.Genre" />
		<mapping class="com.testing.cascade.Movie" />

		<!-- Inheritance Default Way -->
		<mapping class="com.testing.inheritance.defaultway.Cat" />
		<mapping class="com.testing.inheritance.defaultway.Dog" />
		<mapping class="com.testing.inheritance.defaultway.Owner" />
		<mapping class="com.testing.inheritance.defaultway.Pet" />

		<!-- Inheritance Single Table -->
		<mapping class="com.testing.inheritance.singletable.App" />
		<mapping class="com.testing.inheritance.singletable.Java" />
		<mapping class="com.testing.inheritance.singletable.Javascript" />
		<mapping class="com.testing.inheritance.singletable.Language" />
		
		<!-- Inheritance Table Per Class -->
		<mapping class="com.testing.inheritance.tablepercls.Cloth" />
		<mapping class="com.testing.inheritance.tablepercls.Food" />
		<mapping class="com.testing.inheritance.tablepercls.Market" />
		<mapping class="com.testing.inheritance.tablepercls.Product" />
		
		<!-- Inheritance Joined Strategy -->
		<mapping class="com.testing.inheritance.joinedstrategy.Company" />
		<mapping class="com.testing.inheritance.joinedstrategy.Departament" />
		<mapping class="com.testing.inheritance.joinedstrategy.Finance" />
		<mapping class="com.testing.inheritance.joinedstrategy.Hr" />

	</session-factory>

</hibernate-configuration>